*,
::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
}


/*-- NAVIGATION --*/

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: #000;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}


/*-- accueil --*/

.hero {
    height: 800px;
    display: flex;
    overflow: hidden;
}

.home-left {
    position: relative;
    width: 40%;
    height: 100%;
    background: #000;
    box-shadow: 90px 0 100px #000;
}

h1 {
    color: #f1f1f1;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}

p {
    color: #f1f1f1;
    font-size: 30px;
    text-align: justify;
    margin-left: 8vw;
    line-height: 1.3;
}

.btn-hero {
    display: flex;
}

.btn-home {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    padding: 15px;
    margin-top: 40px;
    text-decoration: none;
    border: 1px solid #f1f1f1;
    width: 150px;
    cursor: pointer;
}

.btn-home:hover {
    transition: all 0.2s ease;
    color: #000;
    background: #f1f1f1;
}

.b1 {
    margin-left: 8vw;
}

.b2 {
    margin-left: 10px;
}

.home-right {
    background-image: url(image/scott.jpg);
    width: 60%;
    height: 100%;
    background-position: 50% 40%;
}


/*-- INFOS--*/

.info-title {
    color: #000;
    text-align: center;
    font-size: 65px;
    padding: 50px 20px 120px;
}

.info-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background: #f1f1f1;
    position: relative;
}

.info-card {
    width: 350px;
    height: auto;
    margin: 0 20px 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 3);
    position: relative;
}

.container-info-photo img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.info-card h2 {
    color: #333;
    text-align: center;
    font-size: 25px;
    padding: 20px 5px;
}

.info-card p {
    color: #333;
    text-align: center;
    font-size: 23px;
    padding: 0 5px 15px;
}


/*-- bas de page--*/

#service {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.service-aide {
    width: 30%;
    text-align: center;
    color: #f1f1f1;
    margin: 50px 20px 70px;
}

.service-aide h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.service-aide p {
    font-size: 18px;
    width: 80%;
    margin: 0 auto 30px;
}

.btn-outline-service {
    width: 300px;
    padding: 15px 0;
    font-size: 22px;
    background: #000;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.btn-outline-service:hover {
    transition: all 0.2s ease-in-out;
    background: #f1f1f1;
    color: #000;
}